@identity:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
@adtech:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adtech-release/
@a4u:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-a4u-release/